# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# Ignore log output directory
logs

# Ignore Intellij workspace-specific direcotry
.idea